<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1 class="mt-4">Demo Form</h1>
      <form [formGroup]="demoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!-- Simple input -->
          <label for="simpleInput">Simple input</label>
          <input type="text" class="form-control" formControlName="simple_input" id="simpleInput" placeholder="Enter email">
          <!-- Validation errors -->
          <div *ngIf="(submitted || form.simple_input.dirty) && form.simple_input.errors">
            <small class="form-text text-muted" *ngIf="form.simple_input.errors.required">This is required</small>
            <small class="form-text text-muted" *ngIf="form.simple_input.errors.pattern">Input is invalid</small>
          </div>
        </div>

        <div class="form-group">
          <!-- Select input -->
          <label for="selectInput">Select input</label>
          <select formControlName="select_input" id="selectInput" name="selectInput" class="form-control">
            <option *ngFor="let o of options" [ngValue]="o.id">{{ o.label }}</option>
          </select>
          <!-- Validation errors -->
          <div *ngIf="(submitted || form.select_input.dirty) && form.select_input.errors">
            <small class="form-text text-muted" *ngIf="form.select_input.errors.required">This is required</small>
          </div>
        </div>


        <div class="form-group">
          <!-- Radio group -->
          <div class="form-check" *ngFor="let o of radioOptions">
            <input class="form-check-input" type="radio" id="exampleRadios{{o.id}}" [value]="o.id" formControlName="radio_group">
            <label class="form-check-label" for="exampleRadios{{o.id}}">
              {{ o.label }}
            </label>
          </div>
          <!-- Validation errors -->
          <div *ngIf="(submitted || form.radio_group.dirty) && form.radio_group.errors">
            <small class="form-text text-muted" *ngIf="form.radio_group.errors.required">This is required</small>
          </div>
        </div>


        <div class="form-group form-check">
          <!-- Checkbox -->
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="checkbox">
          <label class="form-check-label" for="exampleCheck1">I aggree with this article</label>
          <!-- Validation errors -->
          <div *ngIf="(submitted || form.checkbox.dirty) && form.checkbox.errors">
            <small class="form-text text-muted" *ngIf="form.checkbox.errors.required">This is required</small>
          </div>
        </div>

        <div class="form-group">
          <!-- Multiple checkbox selection -->
          <div class="form-check" *ngFor="let o of multipleCheckboxesOptions; let i = index" formArrayName="multiple_checkboxes">
            <input type="checkbox" class="form-check-input" id="exampleCheckGroup{{i}}" [formControlName]="i">
            <label class="form-check-label" for="exampleCheckGroup{{i}}">{{o.label}}</label>
          </div>
          <!-- Validation errors -->
          <div *ngIf="(submitted || form.multiple_checkboxes.dirty) && !areCheckboxSelected()">
            <small class="form-text text-muted">This is required</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

